numpy==1.24.4
scipy==1.10.1
pandas==2.0.3
matplotlib==3.7.5
mujoco==3.2.3
gymnasium==0.28.1
pettingzoo==1.24.3
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
ray[rllib]==2.10.0
tensorboardX==2.6.2.2
rich==13.9.4
scikit-image==0.21.0
imageio==2.35.1
PyOpenGL==3.1.9
pygame==2.6.1
ipykernel
ipywidgets==8.1.5
jupyterlab
widgetsnbextension==4.0.13
filelock
cloudpickle==3.1.1
protobuf==5.29.3
